<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .request.Name }}</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<header>
    <div class="header-content">
        <img src="/static/img/logo1.png" style="width: 100px; height: auto;">
        <div class="site-title">
            <h1>Моделирование малых модульных реакторов</h1>
            <p>Удобный калькулятор ММР</p>
        </div>
    </div>
</header>
<div class="action-bar">
    <a href="/" class="nav-item">
        <button class="btn">Главная</button>
    </a>
</div>
<main class="container">
    <div class="request-detail">
        <div class="request-detail__header-card">
            <h1 class="request-detail__title">{{ .request.Name }}</h1>
            <p class="request-detail__description">{{ .request.Description }}</p>
        </div>
        <table class="request-table">
            <thead>
            <tr>
                <th class="request-table__col-photo">Изображение</th>
                <th>Модель</th>
                <th>Мощность</th>
                <th>Расход топлива</th>
                <th>Количество</th>
                <th>Энергия</th>
                <th>Затраты</th>
            </tr>
            </thead>
            <tbody>
            {{ range .request.Models }}
            <tr>
                <td class="request-table__col-photo">
                    <img src="{{ .Model.ImageURL }}" alt="{{ .Model.Name }}">
                </td>
                <td>{{ .Model.Name }}</td>
                <td>{{ .Model.Power }}</td>
                <td>{{ .Model.FuelUsage }}</td>
                <td>{{ .Amount }}</td>
                <td class="request-table__col-result">{{ .ResPower }} МВт</td>
                <td class="request-table__col-result">{{ .ResFuel }} г</td>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
</main>
</body>
</html>